@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito';
}
.img-pizza {


    z-index: 10;
}
body {

    padding: 40px 10px 10px 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-image: url(pizzota.png);
    background-size: auto 200px;
    background-color: rgb(243, 239, 183);
    
}


.carta-pizza {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 200px;
    
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: -12px 12px 0px rgb(22, 22, 22);
    background-color: rgb(223, 209, 103);
}

.form-pizzas {

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.caja-pizzas {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.img-pizza {
    
    position: absolute;
    top: 130px;
    left: 280px;
    transform: rotate(15deg);
    
}

.boton-enviar {

    height: 30px;
    width: 80px;
    border-radius: 5px;
    font-weight: bolder;
  
    
}

.boton-enviar:hover {

    background-color: rgb(246, 243, 167);
    cursor: pointer;
}
.boton-enviar:active {

    box-shadow: inset 0px 0px 3px black;
}

.numero-pizza {

    height: 30px;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
}

h1 {
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgb(238, 223, 134);
    padding: 5px 10px;
    box-shadow: -12px 12px 0px rgb(22, 22, 22);
}

h2 {

    font-size: 22px;
    background-color: white;
    padding: 0px 5px;
}

h4 {
    background-color: rgb(36, 36, 36);
    padding: 0px 5px;
    color: rgb(239, 239, 56);
    font-size: 20px;

}

.error {

    background-color: black;
    color: rgb(255, 106, 106);
}
@media screen and (max-width: 700px) {
        body {

            padding-top: 20px;
            padding-bottom: 40px;
            gap: 15px;
        }
    .seccion-der {

        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 420px) {

    .caja-ingredientes {

        height: 150px;
    }

    .carta-pizza {

        width: 300px;
    }

    .img-pizza {
    top: 150px;
       left: 210px;
        
    }

    h2 {

        font-size: 20px;
    }
}

.seccion-der {

    display: flex;
}
.tarjetero {

    
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: -12px 12px 0px rgb(22, 22, 22);
    background-color: rgb(223, 209, 103);
}

.tarjetero img {
    
    height: 100px;
    width: 100px;
    border-radius: 10px;
     border: 3px solid black;
}

.caja-ingredientes {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 3px solid black;
    box-shadow: -12px 12px 0px rgb(22, 22, 22);
    background-color: rgb(243, 235, 176);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.caja-ingredientes h2 {

    border-radius: 10px;
    padding: 10px;
}

#lista-ingredientes {

    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
}